.site-top {
    background-color: $main-logo-col;
}

.site-top-nav {
    font-family: 'Lato', sans-serif;
    float: right;
    color: $main-logo-col;
}
.site-top-nav:hover
{
    background-color:  $nav-hov-col;
    cursor: pointer;
}